$def with (msg)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Blog-O-Matic</title>
<link rel="stylesheet" type="text/css" href="/static/view.css" media="all">
<script type="text/javascript" src="/static/view.js"></script>
</head>
<body>
	<div class="background">
		<div class="page">
			<a href="/" id="logo">BLOG-O-MATIC</a>
			<div class="sidebar">
				<ul>
					<li>
						<a href="/">HOME</a>
					</li>
					<li class="selected">
						<a href="create">CREATE</a>
					</li>
					<li>
						<a href="update">UPDATE</a>
					</li>
					<li>
						<a href="delete">DELETE</a>
					</li>
					<li>
						<a href="search">SEARCH</a>
					</li>
					<li>
						<a href="register">REGISTER</a>
					</li>
				</ul>
				<div class="first">
					<div>
						<a href="http://www.ncbi.nlm.nih.gov/pubmed/" target=_blank><img src="/static/pubmed-logo.jpg" alt="PubMed"></a>
						<p>
							PubMed comprises more than 24 million citations for biomedical literature from MEDLINE, life science journals, and online books. Citations may include links to full-text content from PubMed Central and publisher web sites.
						</p>
					</div>
				</div>
			</div>
			<div class="body">
				<div class="home">
					<div class="featured">
						<img src="/static/header.jpg" alt="">
						<div>
							<p align="justify">
								Blog-O-Matic, your own blog with your selected PubMed papers within minutes.
							</p>
						</div>
					</div>
					<div>
						<div>
							<div>
									
								<img id="top" src="/static/top.png" alt="">
								<div id="form_container">
																	
									<form id="form_110511" class="appnitro"  method="post" action="createBlog">
													
										<ul >
											<h3>Create a Blog</h3>
											<li class="section_break"></li>
											
											<li id="li_1" >
												</br><label class="description" for="element_1">Blog Title </label>
												<div>
													<input id="element_1" name="title" class="element text large" type="text" maxlength="255" value=""/> 
												</div><p class="guidelines" id="guide_1"><small>Your full blog title.</small></p> 
											</li>		
											
											<li id="li_2" >
												</br><label class="description" for="element_2">Selected Keywords </label>
												<div>
													<textarea id="element_2" name="keywords" class="element textarea small"></textarea> 
												</div><p class="guidelines" id="guide_2"><small>Use space separated keywords.</small></p> 
											</li>		
											
											<li id="li_3" >
												</br><label class="description" for="element_3">Short Blog Title ( http://www.blogomatic.info/blog/short-title ) </label>
												<div>
													<input id="element_3" name="url" class="element text large" type="text" maxlength="255" value=""/> 
												</div><p class="guidelines" id="guide_3"><small>Don't use spaces between words.</small></p> 
											</li>		
											
											</br><li class="section_break">
												</br><h3>Authorization Data</h3>
												<p></p>
											</li>		
											
											<li id="li_4" >
												</br><label class="description" for="element_4">User (Email): </label>
												<div>
													<input id="element_4" name="email" class="element text medium" type="email" value=""/> 
												</div><p class="guidelines" id="guide_4"><small>Email needed to create you own blog.</small></p> 
											</li>		
											
											<li id="li_5" >
												</br><label class="description" for="element_5">Password: </label>
												<div>
													<input id="element_5" name="password" class="element text small" type="password" value=""/> 
												</div><p class="guidelines" id="guide_5"><small>Password needed to create you own blog.</small></p> 
											</li>
												
											</br><li class="buttons">
												<input type="hidden" name="form_id" value="110511" />												    
												<input id="saveForm" class="button_text" type="submit" name="submit" value="Create" />
											</li>
										</ul>
									</form>

								</div>
								<img id="bottom" src="/static/bottom.png" alt="">

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer">
				<div>
					<div>
						<h4>About Blog-o-Matic</h4>
						<p>
							Blog-o-Matic is a project developed by the High Tecnical School of Computer Engineering of Malaga, under the direction of the Department of Software and Computer Science.
						</p>
						<a href="http://www.informatica.uma.es/" target=_blank>Visit Website</a>
					</div>
					<div>
						<h4>Links</h4>
						<ul>
							<li>
								<a href="/">HOME</a>
							</li>
							<li>
								<a href="create">CREATE</a>
							</li>
							<li>
								<a href="update">UPDATE</a>
							</li>
							<li>
								<a href="delete">DELETE</a>
							</li>
							<li>
								<a href="search">SEARCH</a>
							</li>
							<li>
								<a href="register">REGISTER</a>
							</li>
						</ul>
					</div>
					<div class="connect">
						<h4>Keep In Touch</h4>
						<a href="https://twitter.com/" id="twitter" target=_blank>twitter</a> <a href="http://www.facebook.com/" id="facebook" target=_blank>facebook</a> <a href="https://plus.google.com/" id="googleplus" target=_blank>google+</a>
					</div>
				</div>
				<p>
					&#169; Blog-O-Matic Project
				</p>
			</div>
		</div>
	</div>
</body>
</html>